<div class="container-fluid">
  <h2 class="text-center">Resultados Recibidos</h2>
  <div *ngFor="let resultado of resultados" class="resultado-card">
    <div class="row">
      <div class="card col">
        <div class="card-body">
          <!--<h5 class="card-title text-center">Resultado de Ansiedad</h5>-->
          <div class="row">
            <div class="col-md-6">
              <h6>Paciente</h6>
              <p><strong>Nombres:</strong> {{ resultado.evaluacion.paciente.persona.nombres }}</p>
              <p><strong>Apellidos:</strong> {{ resultado.evaluacion.paciente.persona.apellidos }}</p>
              <p><strong>Documento de Identidad:</strong> {{ resultado.evaluacion.paciente.persona.doc_identidad }}</p>
              <p><strong>Numero de telefono:</strong> {{ resultado.evaluacion.paciente.persona.num_telefono }}</p>
              <p><strong>Genero:</strong> {{ resultado.evaluacion.paciente.persona.genero.nombre }}</p>
            </div>
            <div class="col-md-6">
              <h6>Evaluación</h6>
              <p><strong>Test:</strong> {{ resultado.evaluacion.test.nombre }}</p>
              <p><strong>N° preguntas:</strong> {{ resultado.evaluacion.test.n_preguntas }}</p>
              <p><strong>Versión:</strong> {{ resultado.evaluacion.test.n_version }}</p>
              <!--<p><strong>Puntaje:</strong> {{ resultado.puntaje }}</p>-->
              <p><strong>Fecha de realización:</strong> {{ resultado.evaluacion.fec_realizacion | date }}</p>
              <p><strong>Nivel de ansiedad:</strong> {{ resultado.escala.nombre }}</p>
            </div>
          </div>
          <div class="row">
          <div class="col-md-6">
            <h6>Observacion</h6>
            <textarea class="form-control" [(ngModel)]="resultado.observacion" rows="3" placeholder="Ingrese su observacion"></textarea>
            <button class="btn btn-primary mt-2" (click)="culminarResultado(resultado)">Guardar observacion</button>
          </div>
          <div class="col-md-6">
            <div class="row">
              <h6>Invitar Test</h6>
              <select class="form-select form-select-sm" aria-label="Small select example" [(ngModel)]="selectedTestId">
                <option value="" disabled selected>Seleccione el tipo de test</option>
                <option *ngFor="let test of tests" [value]="test.id_test">{{ test.nombre }}</option>
              </select>
              <button class="btn btn-secondary btn-small mt-2" (click)="invitarTest(resultado.id_resultado,selectedTestId)">
                Invitar
              </button>
            <div class="row">
              <h6>Paciente</h6>
            </div>
          </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>