<nav class="navbar bg-body-tertiary">
</nav>

<div class="container-fluid">
  <div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title text-center">Formulario de Registro del Paciente</h1>

        

        <form [formGroup]="personaForm">
          <div class="row mb-3">
            <label for="inputNombres" class="col-sm-2 col-form-label">Nombres:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputNombres" placeholder="Consigne los Nombres"
                formControlName="nombres">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputApellidos" class="col-sm-2 col-form-label">Apellidos:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputApellidos" placeholder="Consigne los Apellidos"
                formControlName="apellidos">
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-6">
              <div class="form-group row">
                <label for="id_genero" class="form-label col-sm-3">Género:</label>
                <div class="col-sm-9">
                  <select class="form-control" id="id_genero" formControlName="id_genero" required
                    title="Seleccione su Género">
                    <option value="" disabled selected>Seleccione el Género</option>
                    <option *ngFor="let genero of generos" [value]="genero.id_genero">{{ genero.nombre }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label for="inputDocIdentidad" class="form-label col-sm-3">Documento de Identidad:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputDocIdentidad"
                    placeholder="Consigne el Documento de Identidad" formControlName="doc_identidad">
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputFNac" class="col-sm-2 col-form-label">Fecha de Nacimiento:</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="inputFNac" placeholder="Consigne la Fecha de Nacimiento"
                formControlName="fec_nacimiento">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputTelefono" class="col-sm-2 col-form-label">Número de Teléfono:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputTelefono" placeholder="Consigne el Número de Teléfono"
                formControlName="num_telefono">
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail" placeholder="Consigne el Número de Teléfono" formControlName="email">
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputContrasenia" class="col-sm-2 col-form-label">Contraseña:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputContrasenia" placeholder="Consigne la contraseña" formControlName="contrasenia">
            </div>
          </div>

          <div class="row mb-3">
            <label for="departamento" class="col-sm-2 col-form-label">Departamento:</label>
            <div class="col-sm-10">
              <select class="form-control" id="departamento" formControlName="departamento_seleccionado" (change)="onDepartamentoChange()">
                <option *ngFor="let depto of departamentos_filtrados" [value]="depto">{{ depto }}</option>
              </select>
            </div>
          </div>
        
          <div class="row mb-3">
            <label for="provincia" class="col-sm-2 col-form-label">Provincia:</label>
            <div class="col-sm-10">
              <select class="form-control" id="provincia" formControlName="provincia_seleccionada" (change)="onProvinciaChange()">
                <option *ngFor="let prov of provincias_filtradas" [value]="prov.provincia">{{ prov.provincia }}</option>
              </select>
            </div>
          </div>
        
          <div class="row mb-3">
            <label for="distrito" class="col-sm-2 col-form-label">Distrito:</label>
            <div class="col-sm-10">
              <select class="form-control" id="distrito" formControlName="id_ubigeo">
                <option *ngFor="let dist of distritos_filtrados" [value]="dist.id_ubigeo">{{ dist.distrito }}</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <label for="condicion" class="col-sm-2 col-form-label">Condición:</label>
            <div class="col-sm-10">
              <select class="form-control" id="condicion" formControlName="id_condicion" (change)="onCondicionChange()">
                <option *ngFor="let cond of condiciones" [value]="cond.id_condicion">{{ cond.nombre }}</option>
              </select>
            </div>
          </div>
          
          <div *ngIf="carrerasFilter.length > 0" class="row mb-3">
            <label for="carrera" class="col-sm-2 col-form-label">Carrera:</label>
            <div class="col-sm-10">
              <select class="form-control" id="carrera" formControlName="id_carrera">
                <option *ngFor="let carrera of carreras" [value]="carrera.id_carrera">{{ carrera.nombre }}</option>
              </select>
            </div>
          </div>

          <button type="button" class="btn btn-primary" (click)="registrarPaciente()">Registrar</button>


        </form>


        

      </div><!-- end card-body -->
    </div><!-- end card cabecera -->

  </div><!-- end row -->
</div>
</div><!-- end container -->