<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h1 class="text-center">Bienvenido a SISVITA</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">Sistema de Información para la Salud y la Vida</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 p-3  rounded">
                <h2 class="text-center">¿Qué es SISVITA?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-left">SISVITA es un sistema de información que permite a los usuarios llevar un control de su salud y bienestar, además de brindar información sobre enfermedades y tratamientos.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 p-3  rounded">
                <h2 class="text-center">¿Cómo funciona?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">SISVITA funciona como una versátil plataforma que brinda acceso a los recursos esenciales tanto para pacientes como especialistas. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 p-3">
                <h2 class="text-center  p-3 rounded">¿Qué servicios ofrece?</h2>
                <p class="text-center">SISVITA ofrece servicios de reservación de citas, realización de test, acceso a recursos, inscripción a talleres, entre otros.</p>
            </div>
            <div class="col-md-6 p-3">
                <h2 class="text-center  p-3 rounded">¿Cómo puedo acceder a este servicio?</h2>
                <p class="text-center">Para acceder a este servicio solo necesitas rellenar un formulario para crear una cuenta.</p>
            </div>
        </div>
    </div>
</body>