<div class="dashboard-container">
  
  <div class="sidebar">
    <ul>
      <li (click)="showForm('perfil')">Datos Personales</li>
      <li (click)="showForm('surveillance')">Realizar Vigilancia</li>
      <li (click)="showForm('calendar')">Calendario de Citas</li>


      <li (click)="showForm('Pacientes')">Pacientes</li>
      <li (click)="showForm('recursos')">Recursos</li>
      <li (click)="showForm('talleres')">Talleres</li>
      <li (click)="showForm('services')">Otros Servicios</li>
      <li (click)="showForm('inbox')">Bandeja de Entrada</li>
    </ul>
    <div class="back-button">
      <img src="path/to/back-icon.png" alt="Back">
    </div>
  </div>
  <div class="content">

    <!--<h2 *ngIf="activeForm === 'evaluate'">Resultados Recibidos</h2>-->
    <app-realizar-vigilancia *ngIf="activeForm === 'surveillance'"></app-realizar-vigilancia>
    <app-perfil *ngIf="activeForm === 'perfil'"></app-perfil>


    <h2 *ngIf="activeForm === 'Pacientes'">Ver Pacientes</h2>
    <h2 *ngIf="activeForm === 'tests_calificar'">Test Pendientes</h2>
    <h2 *ngIf="activeForm === 'calendar'">Calendario</h2>
    <h2 *ngIf="activeForm === 'recursos'">Recursos Disponibles</h2>  

    
    <!-- Puedes agregar más secciones según sea necesario -->
  </div>
</div>
