body {
    font-family: Arial, sans-serif;
    background-color: #f0f7fb; /* Fondo azul claro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #1565c0; /* Azul principal */
  }
  
  p {
    font-size: 1.25rem;
    color: #333;
    line-height: 1.6;
  }
  
  .logout-btn {
    background-color: #d32f2f; /* Rojo oscuro */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-btn:hover {
    background-color: #b71c1c; /* Rojo más oscuro */
  }
  .dashboard-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #e0f7fa; /* Color de fondo similar al de la imagen */
  }
  
  .sidebar {
    width: 20%;
    background-color: #b2ebf2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
  }
  
  .back-button {
    align-self: flex-start;
  }
  
  .back-button img {
    width: 30px;
    cursor: pointer;
  }
  
  .content {
    width: 80%;
    padding: 20px;
    background-color: #fffde7;
  }
  
  .content h2 {
    text-align: center;
  }
  
  .form-container {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .save-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  
  .save-icon img {
    width: 30px;
    cursor: pointer;
  }
  